<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>판매글 등록</title>

<script>

function check() 
{
    let title = document.getElementById('title').value;
    let contents = document.getElementById('contents').value;

    if (title.length < 5) 
    {
        alert('제목을 입력하세요');
        return false;
    }
    if (contents.length < 5) 
    {
        alert('내용을 입력하세요');
        return false;
    }
}


</script>

</head>
<body>
	<h1>[ 판매글 등록 ]</h1>
	<form th:action="@{/board/boardInsert}" method="post" onsubmit="return check()">
		<table>
			<tr>
				<th>카테고리</th>
				<td>
					<select name="category">
					  <option value="computer" selected="selected">컴퓨터</option>
					  <option value="phone">핸드폰</option>
					  <option value="notbook">노트북</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>제목</th>
				<td><input type="text" name="title" id="title"></td>
			</tr>
			
			<tr>
				<th>내용</th>
				<td><textarea name="contents" id="contents"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="저장"></td>
			</tr>
			
		</table>
		
	</form>
	
</body>
</html>